<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Baby Webcam</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'video.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
      <div id="video-container">
        <img id="video-stream" src="" alt="Video Stream" style="max-width: 100%;">
      </div>
      <div class="loading">
        <div class="spinner"></div>
        <div class="message">
          Loading
        </div>
      </div>
      <div class="team">Team 01</div>
    </div>
    
    <div id="panel">
        <h3>参数调整</h3>
        <span for="paramA">準確率:</span>
        <input type="range" id="paramA" min="0" max="10" value="5">
        <span id="valueA">5</span>
        <br>
        <span for="paramB">維持時間:</span>
        <input type="range" id="paramB" min="0" max="10" value="5">
        <span id="valueB">5</span>
        <br>
        <span for="paramC">警告間隔:</span>
        <input type="range" id="paramC" min="0" max="10" value="5">
        <span id="valueC">5</span>
        <br>
        <span for="toggleNotification">通知:</span>
        <input type="checkbox" id="toggleNotification" class="toggle-button">
        <br>
        <span for="toggleImage">影像:</span>
        <input type="checkbox" id="toggleImage" class="toggle-button">
    </div>

    <script src="{% static 'video.js' %}"></script>

</body>
</html>