<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Baby Webcam</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'video.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class="header">
        <div class="menu">
         <svg class="line-top" width="750" height="15" viewbox="0,0 1000,20">
          <line
           class="line-dash"
           x1="0"
           y1="15"
           x2="1000"
           y2="15"
          />
         </svg>
         <ul>
            <li><a href="http://127.0.0.1:8000/">Home</a></li><li><a href="http://127.0.0.1:8000/mp4">Video</a></li><li><a href="http://127.0.0.1:8000/webcam" style = "color:orange; font-size:17px">Webcam</a></li><li>About</li>
          
         </ul>
         <svg class="line-bottom" width="750" height="30" viewbox="0,0 1000,40">
          <polygon class="lb" points="35,53 115,53 125,43 135,53 215,53" />
          <polygon class="lb" points="285,53 365,53 375,43 385,53 465,53" style="stroke-width: 2px;
          stroke: orange;
          fill: orange;"/>
       
          <polygon class="lb" points="535,53 615,53 625,43 635,53 715,53" />
       
          <polygon class="lb" points="785,53 865,53 875,43 885,53 965,53" />
         </svg>
        </div>
       </div>
</nav>

  <div class="body_container">
    <div class="container">
        <div class="input_video">
            <img id="webcam-video-stream" src="" alt="Webcam Error">
        </div>
        <div id="loading1">
          <div class="spinner"></div>
          <div class="message">
            Loading
          </div>
        </div>
        <div class="team">Team 01</div>
      </div>
      
    <div id="panel">
      <div style="height: 10%;display: flex;">
        <div style="width: 100%;display: flex;align-items: center;justify-content:center;color: rgb(255, 255, 255);font-size: 30px;font-weight: bold; margin-left: 15px;">使用者設定</div><div><img src="../static/setting.png"></div>
      </div>
      
      <div style="display: flex;">
        <div style="margin-top: 60px;"><img src="../static/acc.png"></div>
        <div class="function">
          <div class="func_title">
            <span id="name_acc">準確率</span>
            <span id="value_acc" style="margin-left: 10px;margin-top: 3px;">0.5</span>
          </div>
          <div class="func_value">
            <input type="range" id="acc" min="0.1" max="1" value="0.5" step="0.1">
          </div>
        </div>
      </div>
      
      <div style="display: flex;">
        <div style="margin-top: 60px"><img src="../static/dangertime.png"></div>
        <div class="function">
          <div class="func_title">
            <span id="name_dangertime">維持時間</span>
            <span id="value_dangertime" style="margin-left: 10px;margin-top: 3px;">30</span>
            <span>(秒)</span>
          </div>
          <div class="func_value">
            <input type="range" id="dangertime" min="10" max="300" value="30" step="1">
          </div>
        </div>
      </div>
      
      <div style="display: flex;">
        <div style="margin-top: 60px"><img src="../static/warningtime.png"></div>
        <div class="function">
          <div class="func_title">
            <span id="name_warningtime">警告間隔</span>
            <span id="value_warningtime" style="margin-left: 10px;margin-top: 3px;">10</span>
            <span>(分鐘)</span>
          </div>
          <div class="func_value">
            <input type="range" id="warningtime" min="1" max="120" value="10" step="1">
          </div>
        </div>
      </div>

      <div style="display: flex;">
        <div style="margin-top: 48px"><img src="../static/alert.png"></div>
        <div class="function">
          <div class="func_title">
            <span id="name_toggleNotification" style="width: 70px; margin-top: 12px;">通知</span>       
            <input type="checkbox" id="toggleNotification" class="toggle-button" checked="">
          </div>
        </div>
      </div>
      
      <div style="display: flex;">
        <div style="margin-top: 48px"><img src="../static/recording.png"></div>
        <div class="function">
          <div class="func_title">
            <span id="name_recording" style="width: 70px; margin-top: 12px;">錄影</span>       
            <input type="checkbox" id="recording">
          </div>
        </div>
      </div>

    <div style="width: 100%; display: flex; position: absolute;  bottom: 30px;
    left: 30px;"><img src="../static/baby.png"></div>
    </div>

    <script src="{% static 'video.js' %}"></script>
  </div>
</body>
</html>