<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Baby Webcam</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'video.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="input_video">
            <img id="webcam-video-stream" src="" alt="Webcam Error">
        </div>
        <div class="loading">
          <div class="spinner"></div>
          <div class="message">
            Loading
          </div>
        </div>
        <div class="team">Team 01</div>
      </div>
      
      <div id="panel">
        <h3>参数调整</h3>
        <span for="acc">準確率</span>
        <input type="range" id="acc" min="0" max="1" value="0.5" step="0.1">
        <span id="value_acc">0.5</span>
        <br>
        <span for="dangertime">維持時間(秒)</span>
        <input type="range" id="dangertime" min="10" max="300" value="30" step="1">
        <span id="value_dangertime">30</span>
        <br>
        <span for="warningtime">警告間隔(分鐘)</span>
        <input type="range" id="warningtime" min="1" max="120" value="10" step="1">
        <span id="value_warningtime">10</span>
        <br>
        <span for="toggleNotification">通知:</span>
        <input type="checkbox" id="toggleNotification" class="toggle-button" checked="">    
    </div>

    <script src="{% static 'video.js' %}"></script>
</body>
</html>